<a href="https://colab.research.google.com/github/LucaForziati/DE_CoderHouse_Near-Earth-Object/blob/main/forziatiGangi_neo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Asteroids - NeoWs

# librerias

In [1]:
pip install SQLAlchemy==1.4.38

Collecting SQLAlchemy==1.4.38
  Downloading SQLAlchemy-1.4.38-cp310-cp310-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_17_x86_64.manylinux2014_x86_64.whl (1.6 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.6/1.6 MB 9.4 MB/s eta 0:00:00
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.10/dist-packages (from SQLAlchemy==1.4.38) (3.0.3)
Installing collected packages: SQLAlchemy
  Attempting uninstall: SQLAlchemy
    Found existing installation: SQLAlchemy 2.0.28
    Uninstalling SQLAlchemy-2.0.28:
      Successfully uninstalled SQLAlchemy-2.0.28
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
ipython-sql 0.5.0 requires sqlalchemy>=2.0, but you have sqlalchemy 1.4.38 which is incompatible.
Successfully installed SQLAlchemy-1.4.38

In [2]:
pip install psycopg2-binary

Collecting psycopg2-binary
  Downloading psycopg2_binary-2.9.9-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (3.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 3.0/3.0 MB 29.7 MB/s eta 0:00:00
Installing collected packages: psycopg2-binary
Successfully installed psycopg2-binary-2.9.9

In [3]:
# instalar requests
!pip install requests

Requirement already satisfied: requests in /usr/local/lib/python3.10/dist-packages (2.31.0)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.10/dist-packages (from requests) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests) (3.6)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests) (2.0.7)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests) (2024.2.2)

In [4]:
# librerias
import requests
import pandas as pd
import numpy as np
from datetime import datetime, timedelta
from sqlalchemy import create_engine, text as sql_text
import psycopg2

In [5]:
# configuracion filas y columnas
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

# Obtener datos de la API

In [46]:
# obtener la fecha de hoy
fecha_hoy = datetime.now().strftime('%Y-%m-%d')

2024-03-12

In [6]:
# funcion para consultar a la api sobre neo
def consulta_api_nasa(url, api_key, fecha_inicio, fecha_final):
  # URL de la API
  api_url = url

  # parametros
  parametros = {
    'start_date': fecha_inicio,
    'end_date': fecha_final,
    'api_key': api_key
  }
  # consulta a la API mediante GET
  respuesta = requests.get(api_url, params = parametros)

  return respuesta

In [50]:
respuesta = consulta_api_nasa('https://api.nasa.gov/neo/rest/v1/feed?', 'api_key', fecha_hoy, fecha_hoy)
respuesta

# Convertir a dataframe

In [47]:
# funcion para pasar a dataset
def convertir_dataframe(respuesta, fecha):

  if respuesta.status_code == 200:

      # Convertir la respuesta a formato JSON
      data = respuesta.json()

      # Acceder a los resultados
      objetos = data.get('near_earth_objects', {}).get(fecha, {})

      # verificar si el json contiene datos
      if not objetos:
        print("No hay registros para esta fecha")
      else:
        # crear dataframe
        neo = pd.DataFrame(objetos)

        # convertir id a tipo deseado
        neo['neo_reference_id'] = neo['neo_reference_id'].astype(int)

        # crear columnas de interes
        neo['estimated_diameter_min'] = np.nan
        neo['estimated_diameter_max'] = np.nan
        neo['close_approach_date_full'] = np.nan
        neo['kilometers_per_second'] = np.nan
        neo['distance_kilometers'] = np.nan
        neo['orbiting_body'] = np.nan

        # insertar los datos en la tabla de interes
        for index, row in neo.iterrows():

          id = row['neo_reference_id']
          neo.loc[neo['neo_reference_id'] == id, 'estimated_diameter_min'] = float(neo.loc[neo['neo_reference_id'] == id]['estimated_diameter'].iloc[0]['meters']['estimated_diameter_min'])
          neo.loc[neo['neo_reference_id'] == id, 'estimated_diameter_max'] = float(neo.loc[neo['neo_reference_id'] == id]['estimated_diameter'].iloc[0]['meters']['estimated_diameter_max'])
          neo.loc[neo['neo_reference_id'] == id, 'close_approach_date_full'] = neo.loc[neo['neo_reference_id'] == id]['close_approach_data'].iloc[0][0]['close_approach_date_full']
          neo.loc[neo['neo_reference_id'] == id, 'kilometers_per_second'] = float(neo.loc[neo['neo_reference_id'] == id]['close_approach_data'].iloc[0][0]['relative_velocity']['kilometers_per_second'])
          neo.loc[neo['neo_reference_id'] == id, 'distance_kilometers'] = float(neo.loc[neo['neo_reference_id'] == id]['close_approach_data'].iloc[0][0]['miss_distance']['kilometers'])
          neo.loc[neo['neo_reference_id'] == id, 'orbiting_body'] = neo.loc[neo['neo_reference_id'] == id]['close_approach_data'].iloc[0][0]['orbiting_body']

        # eliminar columnas no deseadas
        columnas_a_eliminar = ['links', 'nasa_jpl_url', 'id', 'estimated_diameter', 'close_approach_data']
        for i in columnas_a_eliminar:
          neo = neo.drop(i, axis=1)

        return neo
  else:
      print(f"Error en la solicitud. Código de estado: {respuesta.status_code}")

In [51]:
neo = convertir_dataframe(respuesta, fecha_hoy)

In [52]:
neo

,neo_reference_id,name,absolute_magnitude_h,is_potentially_hazardous_asteroid,is_sentry_object,estimated_diameter_min,estimated_diameter_max,close_approach_date_full,kilometers_per_second,distance_kilometers,orbiting_body
0,3368738,(2007 DK8),19.07,False,False,407.901194,912.094798,2024-Mar-12 18:06,21.687437,5.697537e+07,Earth

# cargar a redshift

In [57]:
# proceso para conectar
engine = create_engine("postgresql://user:pass@host:5439/database")

In [54]:
# cargar dataset a redshift
neo.to_sql('neo', con = engine, index=False, if_exists='append')

1

In [55]:
# consultar a redshift
query = sql_text("select * from schema.neo")
df = pd.read_sql_query(query, con = engine)
df

,fecha_carga,neo_reference_id,name,absolute_magnitude_h,is_potentially_hazardous_asteroid,is_sentry_object,estimated_diameter_min,estimated_diameter_max,close_approach_date_full,kilometers_per_second,distance_kilometers,orbiting_body
0,2024-02-13 16:25:10.940432,2230549,230549 (2003 BH),20.780,True,False,185.590173,414.992243,2024-Feb-12 13:44,21.993665,7.003528e+07,Earth
1,2024-02-13 16:25:10.940432,2337075,337075 (1998 QC1),19.820,True,False,288.771931,645.713667,2024-Feb-12 20:37,24.110499,4.893558e+07,Earth
2,2024-02-13 16:25:10.940432,3471589,(2009 UG),23.500,False,False,53.034072,118.587791,2024-Feb-12 01:36,10.183017,5.730755e+07,Earth
3,2024-02-13 16:25:10.940432,3787623,(2017 UP2),20.160,False,False,246.919266,552.128263,2024-Feb-12 01:03,15.672692,2.172944e+07,Earth
4,2024-02-13 16:25:10.940432,3838834,(2019 DM),24.500,False,False,33.462237,74.823838,2024-Feb-12 04:43,20.451864,4.465491e+07,Earth
5,2024-02-13 16:25:10.940432,3991613,(2020 DK),26.060,False,False,16.313794,36.478753,2024-Feb-12 13:49,9.869663,3.409279e+06,Earth
6,2024-02-13 16:25:10.940432,54049824,(2020 OM5),19.410,False,False,348.782733,779.901901,2024-Feb-12 10:37,23.817405,6.504277e+07,Earth
7,2024-02-13 16:25:10.940432,54341442,(2023 CU),27.230,False,False,9.518203,21.283350,2024-Feb-12 21:00,7.564130,1.426545e+07,Earth
8,2024-02-13 16:25:10.940432,54380897,(2023 RR2),25.050,False,False,25.974965,58.081788,2024-Feb-12 00:57,14.624240,5.615737e+07,Earth
9,2024-02-13 16:25:10.940432,54397129,(2023 UM2),25.150,False,False,24.805899,55.467677,2024-Feb-12 00:30,7.363564,5.535383e+07,Earth
10,2024-02-13 16:25:10.940432,54403792,(2023 VU3),21.050,False,False,163.890951,366.471308,2024-Feb-12 20:29,19.513607,6.857086e+07,Earth
11,2024-02-13 16:25:10.940432,54421913,(2024 AN6),19.778,False,False,294.411640,658.324441,2024-Feb-12 14:24,30.893992,7.199652e+07,Earth
12,2024-02-13 16:25:10.940432,54423325,(2024 BH5),23.816,False,False,45.851651,102.527408,2024-Feb-12 14:56,11.813831,1.400862e+07,Earth
13,2024-02-13 16:25:10.940432,54425949,(2024 CY1),29.237,False,False,3.777070,8.445784,2024-Feb-12 07:24,14.552398,1.211485e+05,Earth
14,2024-02-13 16:26:40.740724,2505093,505093 (2011 VQ5),20.210,False,False,241.298697,539.560289,2024-Feb-13 22:24,2.410427,5.371648e+07,Earth
15,2024-02-13 16:26:40.740724,3063823,(2000 WP19),22.700,False,False,76.657557,171.411509,2024-Feb-13 11:08,10.776089,2.366692e+07,Earth
16,2024-02-13 16:26:40.740724,3384028,(2007 RX8),24.500,False,False,33.462237,74.823838,2024-Feb-13 20:13,6.992270,4.876273e+07,Earth
17,2024-02-13 16:26:40.740724,3451019,(2009 EF3),21.570,False,False,128.989683,288.429700,2024-Feb-13 05:18,11.748495,2.976272e+07,Earth
18,2024-02-13 16:26:40.740724,3713947,(2015 FB34),23.900,False,False,44.111820,98.637028,2024-Feb-13 13:08,16.667691,5.727852e+07,Earth
19,2024-02-13 16:26:40.740724,3796304,(2017 YV8),27.300,False,False,9.216265,20.608196,2024-Feb-13 17:07,6.047398,2.196736e+07,Earth
20,2024-02-13 16:26:40.740724,3797909,(2018 BO5),26.300,False,False,14.606796,32.661790,2024-Feb-13 04:44,8.976152,5.865725e+07,Earth
21,2024-02-13 16:26:40.740724,3879296,(2019 UO2),25.800,False,False,18.388867,41.118757,2024-Feb-13 06:18,14.181491,5.538673e+07,Earth
22,2024-02-13 16:26:40.740724,3989097,(2020 BR5),25.500,False,False,21.113244,47.210650,2024-Feb-13 01:37,15.444092,6.287856e+07,Earth
23,2024-02-13 16:26:40.740724,54016307,(2020 FW2),24.100,False,False,40.230458,89.958039,2024-Feb-13 12:03,16.499904,3.909916e+07,Earth
24,2024-02-13 16:26:40.740724,54184277,(2021 PQ6),22.950,False,False,68.321120,152.770668,2024-Feb-13 13:49,10.269501,4.239418e+07,Earth
25,2024-02-13 16:26:40.740724,2612197,612197 (2000 WP19),22.930,False,False,68.953287,154.184238,2024-Feb-13 11:08,10.776087,2.366692e+07,Earth
26,2024-02-13 16:26:40.740724,54336908,(2022 YL5),24.190,False,False,38.597127,86.305799,2024-Feb-13 20:59,6.241330,3.454995e+07,Earth
27,2024-02-13 16:26:40.740724,54419022,(2024 AX),22.882,False,False,70.494458,157.630400,2024-Feb-13 00:18,8.874114,1.506955e+07,Earth
28,2024-02-13 16:26:40.740724,54419492,(2024 AX1),23.572,False,False,51.304443,114.720222,2024-Feb-13 08:53,5.297250,1.517856e+07,Earth
29,2024-02-13 16:26:40.740724,54423686,(2024 AZ10),22.625,False,False,79.351470,177.435281,2024-Feb-13 15:52,20.670610,1.230942e+07,Earth
30,2024-02-13 16:26:40.740724,54423947,(2024 CB1),24.167,False,False,39.008116,87.224799,2024-Feb-13 08:07,17.543279,1.464720e+06,Earth
31,2024-02-13 16:26:40.740724,54426075,(2024 CM2),24.195,False,False,38.508356,86.107301,2024-Feb-13 02:27,11.184164,2.322019e+07,Earth
32,2024-03-12 16:01:07.888928,3368738,(2007 DK8),19.070,False,False,407.901194,912.094798,2024-Mar-12 18:06,21.687437,5.697537e+07,Earth

In [56]:
# cerrar conexion
engine.dispose()